<div class="main-container">
    {{{ modal }}}
    <div class="main-paper">
        <div class="chats">
            <div class="chats-header">
                <div class="chats-profile">
                    {{{ profileButton }}}
                </div>
                <div class="chats-header-search">
                    {{{ searchInput }}}
                    {{{ searchButton }}}
                </div>
            </div>
            {{#each chats }}
                <div class="chats-item">
                    <div class="chats-item-avatar"></div>
                    <div class="chats-item-body">
                        <p class="chats-item-body-contact">{{ this.name }}</p>
                        <p>{{ this.message }}</p>
                    </div>
                    <div class="chats-item-meta">
                        <small>10:42</small>
                        <div class="chats-item-meta-unread">2</div>
                    </div>
                </div>
            {{else}}
                Нет чатов
            {{/each }}
        </div>
        <div class="active">
            <div class="active-header">
                <div class="chats-item-avatar"></div>
                <div class="active-contact-name">Вадим</div>
                <div class="active-menu">
                    {{> menu width="40px" height="40px" }}
                </div>
            </div>
            <div class="active-chat-area">
                {{> message }}
                {{> message }}
                {{> message }}
            </div>
            <div class="active-bottom">
                <div>{{> attach width="40px" height="40px" }}</div>
                <div class="active-bottom-input-area">
                    {{{ messageInput }}}
                </div>
                <div class="active-bottom-send">
                    {{{ sendButton }}}
                </div>
            </div>
        </div>
    </div>
</div>
