<div class="chats-item" onClick={{ onClick }}>
    <div class="chats-item-avatar"></div>
    <div class="chats-item-body">
        <p class="chats-item-body-contact">{{ title }}</p>
        <p>{{ content }}</p>
    </div>
    <div class="chats-item-meta">
        <small>{{ time }}</small>
        <div class="chats-item-meta-unread">{{ unread_count }}</div>
    </div>
</div>
