<div class="profile-container">
    {{{ editModal }}}
    {{{ changePasswordModal }}}
    <div class="profile-item-avatar" style="background-image: {{avatarImg}}">
        <img class="profile-avatar-image" src="{{avatarImg}}" alt="Аватар пользователя">
    </div>
    {{{ changeAvatar }}}
    {{> dataRow title="Почта" value=user.email }}
    {{> dataRow title="Логин" value=user.login }}
    {{> dataRow title="Имя" value=user.first_name }}
    {{> dataRow title="Фамилия" value=user.second_name }}
    {{> dataRow title="Имя в чате" value=user.display_name }}
    {{> dataRow title="Телефон" value=user.phone }}
    <div class="profile-actions-block">
        {{{ editButton }}}
        {{{ changePasswordButton }}}
        {{{ backButton }}}
        {{{ logoutButton }}}
    </div>
</div>
