<div class="modal-back">
    <form class="profile-container profile-edit-container">
        <div class="profile-item-avatar"></div>
        <div class="profile-data-row">
            <div>Почта</div>
            <div>
                {{{ emailInput }}}
            </div>
        </div>
        <div class="profile-data-row">
            <div>Логин</div>
            <div>
                {{{ loginInput }}}
            </div>
        </div>
        <div class="profile-data-row">
            <div>Имя</div>
            <div>
                {{{ firstNameInput }}}
            </div>
        </div>
        <div class="profile-data-row">
            <div>Фамилия</div>
            <div>
                {{{ secondNameInput }}}
            </div>
        </div>
        <div class="profile-data-row">
            <div>Имя в чате</div>
            <div>
                {{{ displayNameInput }}}
            </div>
        </div>
        <div class="profile-data-row">
            <div>Телефон</div>
            <div>
                {{{ phoneInput }}}
            </div>
        </div>
        <div class="profile-actions-block">
            {{{ saveButton }}}
            {{{ closeButton }}}
        </div>
    </form>
</div>
