<div class="search-item">
    <div>
        <div><i>Логин</i> - {{ login }}</div>
        <div><i>Имя</i> - {{ first_name }} {{ second_name }}</div>
    </div>
    {{{ startChatButton }}}
    {{{ addToCurrentChatButton }}}
</div>
